:root{
  --main-color: hsl(222, 43%, 9%);
  --main-background: #FFEDDF;
  --success-color: #C5D86D;
  --danger-color: #86615C;
  --light-background: #AFE0CE;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.btn-primary, .bg-primary{
  background-color: var(--main-background);
}

.text-primary{
  color: var(--main-background);
}

.btn-success, .bg-success{
  background-color: var(--success-color);
}

.text-success{
  color: var(--success-color);
}


.btn-danger, .bg-danger{
  background-color: var(--danger-color);
}

.text-danger{
  color: var(--danger-color);
}

body{
  background-color: var(--main-background);
}
